{% extends 'layout.html' %}

{% block heading %}
	<span class="fa fa-cube"></span> Productos
{% endblock %}

{% block actions %}
	<div class="col-md-10">
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-home"></i> <a href="/admin">Inicio</a>
			</li>
			<li class="active">
				<i class="fa fa-cube"></i> Productos
			</li>
		</ol>
	</div>
	<div class="col-md-2">
		<a href="/admin/products/create" class="btn btn-block btn-primary">
			<span class="fa fa-plus"></span> Nuevo producto
		</a>
	</div>
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
				<tr>
					<th style="width: 30px;"></th>
					<th>Nombre</th>
					<th>Categoría</th>
					<th>Precio</th>
					<th>Registrado</th>
					<th>Modificado</th>
				</tr>
				</thead>
				<tbody>
				{% for product in products %}
				<tr>
					<td>
						<div class="btn-group">
							<button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
								<span class="fa fa-bars"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="/admin/products/{{product.id}}"><i class="fa fa-pencil-square-o"></i> Editar</a></li>
								<li><a href="#delete/{{product.id}}" data-id="{{product.id}}"><i class="fa fa-trash-o"></i> Eliminar</a></li>
							</ul>
						</div>
					</td>
					<td>{{product.name}}</td>
					<td>{{product.category.name}}</td>
					<td class="text-right">{{product.price|decimal}}</td>
					<td class="text-center">{{product.created_at|date('Y-m-d h:i:s', 300)}}</td>
					<td class="text-center">{{product.updated_at|date('Y-m-d h:i:s', 300)}}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function(){
		$("a[href^=#delete]").click(function(e){
			var id = $(this).attr('data-id');
			var row = $(this).parents("tr");
			$.ajax({
				url: '/admin/products/' + id,
				method: 'DELETE',
				statusCode: {
					204: function() {
						row.remove();
					}
				}
			});
			e.preventDefault();
		});
	});
</script>
{% endblock %}
